<ul id="lists">
  <% @todo_lists.each do |list| %>
  	<li class="">	
      <%= link_to list do %>
       	<h2><%= list.name %></h2>
       	<p><%= list.todo_items_completed %>/<%= list.todo_items_count %></p>
      <% end %>
    </li>
  <% end %>
</ul>
